/* Theme colors */
body,
body[data-theme="light"] {
  --color-text-primary: #002358;
  --color-text-secondary: #214a88;
  --color-text-active: #0060ff;
  --color-bg-primary: #ffffff;
  --color-bg-element: #e9f2ff;
}

body[data-theme="dark"] {
  --color-text-primary: #ffffff;
  --color-text-secondary: #a2c3f5;
  --color-text-active: #ffffff;
  --color-bg-primary: #001b44;
  --color-bg-element: #032c6b;
}

.root, body, html {
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
}

*, :after, :before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.4;
  text-size-adjust: none;
  /* Theme colors */
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}
