/* Theme colors */
body,
body[data-theme="light"] {
  --color-text-primary: #002358;
  --color-text-secondary: #214a88;
  --color-text-active: #0060ff;
  --color-bg-primary: #ffffff;
  --color-bg-element: #e9f2ff;
}

body[data-theme="dark"] {
  --color-text-primary: #ffffff;
  --color-text-secondary: #a2c3f5;
  --color-text-active: #ffffff;
  --color-bg-primary: #001b44;
  --color-bg-element: #032c6b;
}

.root, body, html {
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  -webkit-tap-highlight-color: transparent;
}

*, :after, :before {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

body {
  margin: 0;
  padding: 0;
  min-height: 3000px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  text-size-adjust: none;
  background: var(--color-bg-primary);
  color: var(--color-text-primary);
  transition: background 0.25s ease-in-out;
}


@media (max-width: 568px) {
  *.mobile-hide {
    display: none !important;
  }
  *.mobile-show {
    display: inherit;
  }
}

@media (min-width: 567px) {
  *.mobile-show {
    display: none !important;
  }
  *.mobile-hide {
    display: inherit;
  }
}

@media (max-width: 1024px) {
  *.tablet-hide {
    display: none !important;
  }
  *.tablet-show {
    display: inherit; 
  }
}

@media (min-width: 1023px) {
  *.tablet-show {
    display: none !important;
  }
  *.tablet-hide {
    display: inherit;
  }
}

div.tooltip-container {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  color: #002358;
  padding-top: 7px;
  box-shadow: 0 5px 25px rgb(0 17 36 / 15%);
  border: none;
}

div.tooltip-arrow::before {
  border-style: none;
}

.ReactModal__Overlay {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}
